<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="./img/weather-icon.png">
    <link rel="stylesheet" href="./CSS/style.css"> 
</head>
<body>
    <div class="404-content">
        {{>header}}
        {{errormsg}}
    </div>
    {{>footer}}
</body>
</html>