<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="./img/weather-icon.png">
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Here by using this site you can get the weather update.</p>
        <h3>Your Current Location Temperature: </h3>
        <h2 id="temp">Temperature</h2>
        <p id="timezone">Summary</p>

        <script type="text/javascript">
            var tz = $("#timezone");
            var t = $("#temp");
            var url = "";

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    currentLoc.html("Geolocation is not supported by this browser.");
                }
            }

            function showPosition(position) {
                var lat = position.coords.latitude;
                var long = position.coords.longitude;


                url = "https://api.darksky.net/forecast/dbebf25ca92105536e601c6242e4137a/" + lat + "," + long+"?units=si";
                getTodaysWeather(url);
            }

            function getTodaysWeather(url) {
                $.ajax({
                    url:url,
                    dataType: 'jsonp',
                    jsonp: 'callback',
                    success:function(json){
                    tz.html(json.timezone);
                    t.html(Math.ceil(json.currently.temperature)+" °C");
                },
                error:function(){
                    //ErrorHandling
                },
                });
            }

            getLocation();
    </script>
    
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <h2 id='temp1'></h2>
        <h2 id='temp2'></h2>
        <h2 id='temp3'></h2>
        <p id='message-1'></p>
        <p id='message-2'></p>
        
    </div>
    {{>footer}}

    <script src="/js/app.js"></script> 
    
</body>
</html>